.main-top-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
}

.overlay-section {
  background-color: transparent;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.top-content-section {
    z-index: 1;
}

.top-content-section h1 {
  color: var(--gs-white);
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  line-height: 1.2;
}

.breadcrumb ul li {
  display: inline-block;
  color: var(--gs-white);
}

.breadcrumb ul li:after {
  content: "";
  font-weight: 700;
  vertical-align: middle;
  background-color: #f94735;
  width: 10px;
  padding: 0 5px 0 10px;
  height: 2px;
  display: inline-block;
  margin: 0 15px;
}

.breadcrumb ul li:last-child::after {
    display: none;
}


@media screen and (max-width: 767px) {
  .main-top-section {
    background-position: 90%;
  }
}