.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-style6 li {
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.list-style6 li span {
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 3px;
    color: #fff;
    font-size: 16px;
}

.footer-bottom {
    padding: 1.6rem 0rem 1.6rem 0rem;
    color: #fff;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-input {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-box {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-color: gray !important;
    width: 100%;
}

.subscribe-input input::placeholder {
    color: inherit !important;
}
